$black: #212227;
$black-lite: #27252F;
$black-success: #13121E;

$grey : #6F6F72;

$white: #FFFFFF;

$bg: #EBF5EF;
$border: #E7E2F4;
$border-dark: #8A8E91;

$red: #C42C17;
$red-lite: #F2512E;
$red-border: #F0392D;

$blue-lite: #A7C5DF;

$yellow: #E8FB87;

$itm: "InterTight";

$t: all 0.3s linear;